    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button class="dashboard-icon" (click)="drawer.toggle()"
          aria-label="dashboard icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Urbansys</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <section id="main">
      <mat-drawer-container class="dashboard-container" autosize>
        <mat-drawer #drawer class="dashboard-sidenav" mode="side">
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>home</mat-icon>
              <div mat-line><a [routerLink]="['home']" routerLinkActive="router-link-active" >Home</a></div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>people_alt</mat-icon>
              <div mat-line><a [routerLink]="['users']" routerLinkActive="router-link-active" >Usuarios</a></div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>location_city</mat-icon>
              <div mat-line><a [routerLink]="['urbanizations']" routerLinkActive="router-link-active" >Urbanizaciones</a></div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-drawer>
        <div class="dashboard-sidenav-content">
            <router-outlet></router-outlet>
        </div>

      </mat-drawer-container>
    </section>
